#check_main{

  p1{
    position: absolute;
    left: -40px;
    top: 100px;
  }

  p2{
    position: absolute;
    right: -35px;
    top: 100px;
  }

  a1{
    text-align: center;
    color: #000000;
    font-size: 25px;
  }
}

