#check_result_info{
  .position-relative {
    background-image: url("/examples/spring.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    border-radius: 40px 100px;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  }

  //.position-relative{
  //  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  //  border-radius: 40px 100px;
  //}

  .product-image {
    background-image: url("/examples/0003.jpeg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }

  .up-round-box {
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0 0;
  }

  .overflow-hidden { overflow: hidden; }

  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }

  .chan-color{
    background-color: white;
  }

  .feat-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .feat-list li{
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid darkgray;
    font-size: 18px;
  }
  .feat-list li:last-child{
    border-bottom: 0px;
  }
  .feat-list li:before{
    content : '';
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url("/examples/check.png");
    //background-color: pink;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
    margin-right: 10px;
  }

  .best-list{
    list-style: none;
    margin: 0px 0px 0px 140px;
    padding: 0px;
    width: 50%;
  }
  .best-list li{
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid darkgray;
    font-size: 18px;
  }
  .best-list li:last-child{
    border-bottom: 0px;
  }
  .best-list li:before{
    content : '';
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url("/examples/thumbs-up.png");
    //background-color: pink;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
    margin-right: 10px;
  }

  .worst-list{
    list-style: none;
    margin: 0px 0px 0px 140px;
    padding: 0px;
    width: 50%;
  }
  .worst-list li{
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 18px;
  }
  .worst-list li:last-child{
    border-bottom: 0px;
  }
  .worst-list li:before{
    content : '';
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url("/examples/thumb-down.png");
    //background-color: pink;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
    margin-right: 10px;
  }

  .makeup-list{
    list-style: none;
    margin: 0px 0px 0px 30px;
    padding: 0px;
    width: 90%;
  }
  .makeup-list li{
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #efefef;
    font-size: 18px;
  }
  .makeup-list li:last-child{
    border-bottom: 0px;
  }
  .makeup-list li:before{
    content : '';
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url("/examples/makeup.png");
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
    margin-right: 10px;
  }

  .people-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .people-list li{
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid darkgray;
    font-size: 18px;
  }
  .people-list li:last-child{
    border-bottom: 0px;
  }
  .people-list li:before{
    content : '';
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url("/examples/famous.png");
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px 6px 0px;
    margin-right: 10px;
  }
}

