#check_input{

  span1{
    position: absolute;    /*절대값으로 위치를 설정*/
    left: 350px;    /* x축 */
    top: 200px;    /* y축 (작성하지 않는다면 원래의 위치로 설정됨 */
    font-size: 25px;
  }
  .explain > ul > li{
    font-size: 20px;
  }



  //h2{
  //  position: absolute;    /*절대값으로 위치를 설정*/
  //  left: 350px;    /* x축 */
  //  top: 300px;    /* y축 (작성하지 않는다면 원래의 위치로 설정됨 */
  //}

  .bnt-design {
    background: linear-gradient( 45deg, lightyellow, pink );
    border-radius: 30px;
    width:200px;
    height:50px
  }
  .bnt-design2 {
    background: linear-gradient( 45deg,pink ,  lightyellow);
    border-radius: 30px;
    width:200px;
    height:50px
  }

  .back-position{
    position: absolute;    /*절대값으로 위치를 설정*/
    left: 450px;    /* x축 */
    top: 400px;    /* y축 (작성하지 않는다면 원래의 위치로 설정됨 */
  }

  .start-position{
    position: absolute;    /*절대값으로 위치를 설정*/
    left: 600px;    /* x축 */
    top: 400px;    /* y축 (작성하지 않는다면 원래의 위치로 설정됨 */
  }
}

#btn-camera > img{
  width: 350px;
  height: 450px;
}



