#intro_main {

  h1{
    color : black;
  }
  h5{
    color : darkgrey;
  }

  h6{

  }

  span2{
    color : #007bff;

  }

  span1{
    color : darkred;
  }

  .carousel-inner{
    width: 1500px;
    height: 500px;
  }


}



